{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p><strong>Summary:</strong> {{ .Params.summary }}</p>
  {{ if .Params.link }}
    <p><a href="{{ .Params.link }}" target="_blank">Visit project</a></p>
  {{ end }}
  {{ if .Params.featured_image }}
    <img src="{{ .Params.featured_image }}" alt="Featured image for {{ .Title }}">
  {{ end }}
  {{ .Content }}
  
  <div class="artist-upcoming-gigs">
  	<h2>Upcoming gigs</h2>
  
{{ $artist := "Yazz Ahmed" }}
{{ $now := now }}
<ul>
  {{ range sort (where site.Data.gigs "date" "ge" ($now.Format "2006-01-02")) "date" }}
    {{ if in .artist $artist }}
      <li>
        <strong>
          {{ if .ticket_url }}
            <a href="{{ .ticket_url }}">{{ .date | time.Format "02 Jan 2006" }}</a>
          {{ else }}
            {{ .date | time.Format "02 Jan 2006" }}
          {{ end }}
        </strong><br>
        {{ .artist }} — {{ .venue }}, {{ .location }}
      </li>
    {{ end }}
  {{ end }}
</ul>


  
  </div>
  
  <div class="artist-recordings">
	  <h2>Recordings</h2>
  
  </div>
  
  
  <p style="margin-top: 2rem;">
  <a href="/projects" class="back-link">
    ← Back to all projects
  </a>
</p>
  
{{ end }}