html {
 height: 100%;
        min-height: 100%;
        min-height: 100vh;
        min-height: 100dvh;
        overflow-x: hidden;
        overflow-y: scroll;
		background-color: #f6f6f6;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: #f6f6f6;
  line-height: 1.75rem;
  font-size: 1.1rem;
  padding: 2rem 1rem;
}

header {
  padding: 1rem;
  text-align: center;
  font-family: "Vollkorn", serif;
}

h1, h2, h3, h4 {
  margin-top: 2rem;
  line-height: 1.3;
  color: #d95e00;
  font-family: "Vollkorn", serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.75rem;
	text-transform: uppercase;
	font-family: monospace;
	line-height: 0;
	margin: 1rem 0.5rem 0.3rem 0.5rem;
}

p {
  margin-bottom: 1.25rem;
}

p.back-link {
	margin-bottom: 0;
	color: #313131;
}

main p.back-link a {
	color: #313131;
}

i {
	font-style: normal;
}

a {
	color: inherit;
}

blockquote {
	font-style: italic;
}

span {
	white-space: nowrap;
}

main p {
	color: #313131;
	font-size: 1rem;
	font-family: "Inter", sans-serif;
	text-align: justify;
}

main ul {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 1rem;
}

main ul li::marker { 
	color: #d95e00;
}

main ul li {
	padding-left: 2rem;
	color: #313131;
	font-size: 1rem;
	font-family: "Inter", sans-serif;
	text-align: justify;
}

main.content a {
	color: #313131;
	text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.125rem;
}

main.content a:hover {
	color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}


a:visited {
	color: inherit;
}

a:hover {
	color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}


main.content {
  flex: 1;
  padding: 2rem;
  padding-top: 0;
}

img {
	width: 100%
}

main.content img.small-image {
	width: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 2rem 0;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  body {
  	padding: 2rem 0rem;
  }
  .container {
  	width: 100%;
  	padding: 0;
  }
}

.header-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
}

.site-title {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #d95e00;
}

.site-title a {
	text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.125rem;
}

.site-title a:hover {
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}

nav ul.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  text-align: center;
  font-family: "Vollkorn", serif;
}

nav ul.nav li {
  margin: 0 1rem;
}

nav ul.nav a {
	text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	color: #313131;
	text-underline-offset: 0.125rem;
}

nav ul.nav a:hover {
	color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}

nav ul.nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.gig-list {
	list-style: none;
	padding-left: 0rem;
}

.gig-list li {
	padding-left: 0rem;
}

i.date {
	text-transform: uppercase;
	color: #d95e00;
	font-family: monospace;
	padding-right: 0.1rem;
	font-size: 1rem;
}

i.date a {
	color: #d95e00
}

i.data {
	text-transform: uppercase;
	font-family: monospace;
}

.directory-container {
  	columns: 2;
  	column-gap: 2rem;
}

.directory-block {
	break-inside: avoid-column;
  	margin-bottom: 2rem;
}

.directory-block h4 {
	margin: 0 0 0.5rem 0;
}

.directory-block ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.directory-block p {
	font-size: 0.8rem;
}

.directory-block li {
	font-size: 0.8rem;
	padding-left: 0;
	text-align: left;
}

div.summary-block {
	display: block;
	background-color: #D95E0015 ;
	padding: 1em;
	border-radius: 2px;
}

q.music-summary {
	font-family: "Inter", sans-serif;
	font-style: italic;
	color: #313131;
}

img.featured-image {
	max-width: 400px;
	padding: 1rem 0;
}

.flex-recording {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.recording-text {
    flex: 1 1 250px;
    min-width: 200px;
}

.recordings-list-cover {
    width: 150px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
	align-self: flex-end;
	margin-top: 2rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

img.recordings-list-cover:hover {
  box-shadow: 0 0 2px 1px #d95e00;
  transition: color 0.2s, text-decoration-color 0.2s;
}

.embed-bandcamp-player {
	align-self: center;
	padding: 2rem 0;
}

.album-cover {
	
	align-self: center;
	margin-top: 2rem;
}

.album-cover img {
	width: 350px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.album-cover p {
	text-align: center;
}

.discography-meta {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.discography-data {
	background-color: #d95e0015;
	border-radius: 5px;
	padding: 0 1rem;
	text-align: center;
	margin: 10px;
}

.discography-info {
	color: #d95e00;
  	font-family: monospace;
	font-size: 1rem;
}

.bandcamp-art
	{
		border: 0;
		width: 100%;
		max-width: 650px;
		max-height: 650px;
	}

ul.projects-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

ul.projects-list li {
	padding-left: 0;
	margin-bottom: 1rem;
}

hr {
	display: block;
	margin: 0;
	border-top: 1px solid rgba(0,0, 0, 0.25);
}

footer {
	  padding: 1rem;
  text-align: center;
}

footer p {
	color: #313131;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	padding: 0;
}

footer a {
text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
}

footer a:hover {
color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}

footer p.copyright {
	color: #d95e00;
	font-family: "Vollkorn", serif;
}
