body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: #f6f6f6;
  line-height: 1.75rem;
  font-size: 1.1rem;
  padding: 2rem 1rem;
  
}

header, footer {
  padding: 1rem;
  text-align: center;
  font-family: "Vollkorn", serif;
}

h1, h2, h3 {
  margin-top: 2rem;
  line-height: 1.3;
  color: #d95e00;
font-family: "Vollkorn", serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
}

i {
	font-style: normal;
}

main p {
	color: #313131;
	font-size: 1rem;
	font-family: "Inter"; sans-serif;
	text-align: justify;
}

main ul {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 1rem;
}

main ul li::marker { 
	color: #d95e00;
}

main ul li {
	padding-left: 2rem;
	color: #313131;
	font-size: 1rem;
	font-family: "Inter"; sans-serif;
	text-align: justify;
}

main.content a {
	color: #313131;
	text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.125rem;
}

main.content a:hover {
	color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}


a:visited {
	color: inherit;
}

a:hover {
	color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}


main.content {
  flex: 1;
  padding: 2rem;
  padding-top: 0;
}

main.content img {
	width: 100%
}

main.content img.small-image {
	width: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 2rem 0;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  body {
  	padding: 2rem 0rem;
  }
  .container {
  	width: 100%;
  	padding: 0;
  }
}

.header-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
}

.site-title {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #d95e00;
}

.site-title a {
	text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}

.site-title a:hover {
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}

nav ul.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  text-align: center;
  font-family: "Vollkorn", serif;
}

nav ul.nav li {
  margin: 0 1rem;
}

nav ul.nav a {
	text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	color: #313131;
}

nav ul.nav a:hover {
	color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}

nav ul.nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.gig-list {
	list-style: none;
	padding-left: 0rem;
}

.gig-list li {
	padding-left: 0rem;
}

i.gig-date {
	text-transform: uppercase;
	color: #d95e00;
	font-family: monospace;
	padding-right: 0.1rem;
}

i.gig-date a {
	color: #d95e00
}

hr {
	
	display: block;
	margin: 0;
	border-top: 1px solid rgba(0,0, 0, 0.25);
}

footer {
		color: #d95e00; 
}

footer a {
text-decoration-line: underline;
	text-decoration-color: rgba(0,0, 0, 0.25);
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}

footer a:hover {
color: #d95e00; 
	text-decoration-line: underline;
	text-decoration-color: #d95e00;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	transition: color 0.2s, text-decoration-color 0.2s;
}
