{{ define "main" }}

{{ partial "back-to-list.html" . }}

<h1>{{ .Title }}</h1>

<div class="discography-meta">
    <div class="discography-data"><h5>Artist</h5><i class="discography-info">{{ .Params.artist }}</i></div>
    <div class="discography-data"><h5>Release date</h5><i class="discography-info">{{ .Params.release_date | time.Format "02.01.2006" }}</i></div>
    <div class="discography-data"><h5>My credit</h5><i class="discography-info">{{ delimit .Params.my_credit ", " }}</i></div>
  </ul>

</div>

<div class="embed-bandcamp-player">
  <iframe style="border: 0; width: 450px; height: 450px; " src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.bandcamp_code }}/size=large/bgcol=f6f6f6/linkcol=d95e00/tracklist=false/minimal=true/transparent=true/" height="350" width="350" seamless></iframe>
</div>

{{ if .Params.link }}
    <p><a href="{{ .Params.link }}" target="_blank">Visit project</a></p>
{{ end }}

{{ .Content }}

{{ end }}