{{ define "main" }}

{{ partial "back-to-list.html" . }}

<h1>{{ .Title }}</h1>

<div class="discography-meta">
    <div class="discography-data"><h5>Artist</h5><i class="discography-info">{{ .Params.artist }}</i></div>
    <div class="discography-data"><h5>Release date</h5><i class="discography-info">{{ .Params.release_date | time.Format "02.01.2006" }}</i></div>
    <div class="discography-data"><h5>My credit</h5><i class="discography-info">{{ delimit .Params.my_credit ", " }}</i></div>
  </ul>

</div>

{{ if .Params.bandcamp_album }}
  <div class="embed-bandcamp-player">
    <iframe class="bandcamp-art" src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.bandcamp_album }}/size=large/bgcol=f6f6f6/linkcol=d95e00/tracklist=false/minimal=true/transparent=true/" height="350" width="350" seamless></iframe>
  </div>
{{ else if .Params.bandcamp_track }}
  <div class="embed-bandcamp-player">
    <iframe class="bandcamp-art" src="https://bandcamp.com/EmbeddedPlayer/track={{ .Params.bandcamp_track }}/size=large/bgcol=f6f6f6/linkcol=d95e00/tracklist=false/minimal=true/transparent=true/" height="350" width="350" seamless></iframe>
  </div>
{{ else }}
  <div class="album-cover">
    <a href="{{ .Params.listen_link }}"><img src="{{ .Params.featured_image}}"></a>
    <p><a href="{{ .Params.listen_link }}">Listen here</a></p>
  </div>
  {{ end }}

{{ if .Params.link }}
    <p><a href="{{ .Params.link }}" target="_blank">Visit project</a></p>
{{ end }}

{{ .Content }}

{{ end }}