 {{ $now := now }}
{{ $upcoming := where site.Data.gigs "date" "ge" (time.Format "2006-01-02" $now) }}
{{ $sorted := sort $upcoming "date" }}
{{ with index $sorted 0 }}
  <section class="next-gig">
    <p>My next gig is with 
    {{ if .artist_url }}
   		<a href="{{ .artist_url }}">
  			{{ .artist }}</a>
  	{{ else }}
  		{{ .artist }}
  	{{ end }}
    at {{ .venue }}, {{ .location }}, on
 	   {{ if .ticket_url }}
    	  <a href="{{ .ticket_url }}">
        	{{ .date | time.Format "Monday 02 January 2006" }}</a>
    	{{ else }}
      		{{ .date | time.Format "Monday 02 January 2006" }}
    	{{ end }}
    </p>
  </section>
{{ else }}
  <p>No upcoming gigs at the moment.</p>
{{ end }}


<p>More gigs, future and past, are <a href="/gigs">here</a>.</p>

